<div class="patient-edit-form">
<h2 mat-dialog-title>
  Створити пацієнта
  <button mat-icon-button mat-dialog-close class="close-btn">✖</button>
</h2>

<div class="patient-form">
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastName_input">Прізвище</label>
      <input placeholder="Прізвище" type="text" id="lastName_input" formControlName="lastName" required>
    </div>

    <div class="form-group">
      <label for="firstName_input">Ім'я</label>
      <input placeholder="Ім'я" type="text" id="firstName_input" formControlName="firstName" required>
    </div>

    <div class="form-group">
      <label for="middleName_input">По-батькові</label>
      <input placeholder="По-батькові" type="text" id="middleName_input" formControlName="middleName">
    </div>

    <div class="form-group">
      <label for="date_input">Рік народження</label>
      <input type="number" min="1900" max="2025" id="date_input" formControlName="birthYear" required>
    </div>

    <div class="form-footer">
      <button type="submit" [disabled]="patientForm.invalid">Створити пацієнта</button>
    </div>
  </form>
</div>
</div>
