<form>
  <div>

      <label for="lastName_input">Прізвище</label>
      <input  placeholder="Прізвище" type="text" id="lastName_input" required>

    <label for="firstName_input">Ім'я</label>
    <input  placeholder="Ім'я" type="text" id="firstName_input" required>

    <label for="middleName_input">По-батькові</label>
    <input  placeholder="По-батькові" type="text" id="middleName_input">

    <label for="date_input">Рік народження</label>
    <input type="number" class="form-control" name="birthYear" min="1900" max="2025" id="date_input" required>

    <button type="submit">Створити</button>
    </div>


</form>
