<div class="modal-backdrop">
  <div class="modal">
    <div class="modal-header">
      <span>Створити лікаря</span>
      <button class="close-btn" (click)="onClose()">✖</button>
    </div>

    <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()" class="doctor-form">
      <div class="form-group">
        <label for="lastName_input">Прізвище</label>
        <input id="lastName_input" formControlName="lastName" placeholder="Прізвище" required>
      </div>

      <div class="form-group">
        <label for="firstName_input">Ім'я</label>
        <input id="firstName_input" formControlName="firstName" placeholder="Ім'я" required>
      </div>

      <div class="form-group">
        <label for="middleName_input">По-батькові</label>
        <input id="middleName_input" formControlName="middleName" placeholder="По-батькові" required>
      </div>

      <div class="form-group">
        <label for="specialty_input">Спеціальність</label>
        <input id="specialty_input" formControlName="speciality" placeholder="Спеціальність" required>
      </div>

      <div class="form-group">
        <label for="category_input">Категорія</label>
        <select id="category_input" formControlName="category" required>
          <option value="Молодший спеціаліст" selected>Молодший спеціаліст</option>
          <option value="Спеціаліст">Спеціаліст</option>
          <option value="Лікар вищої категорії" >Лікар вищої категорії</option>
          <option value="Доктор медчних наук" >Доктор медчних наук</option>
        </select>
      </div>

      <div class="form-footer">
        <button type="submit" [disabled]="doctorForm.invalid">Створити</button>
      </div>
    </form>
  </div>
</div>
