<div class="modal-backdrop">
  <div class="modal">
    <div class="modal-header">
      <span>Створити пацієнта</span>
      <button class="close-btn" (click)="onClose()">✖</button>
    </div>

    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()" class="patient-form">
      <div class="form-group">
        <label for="lastName_input">Прізвище</label>
        <input id="lastName_input" formControlName="lastName" placeholder="Прізвище" required>
      </div>

      <div class="form-group">
        <label for="firstName_input">Ім'я</label>
        <input id="firstName_input" formControlName="firstName" placeholder="Ім'я" required>
      </div>

      <div class="form-group">
        <label for="middleName_input">По-батькові</label>
        <input id="middleName_input" formControlName="middleName" placeholder="По-батькові" required>
      </div>

      <div class="form-group">
        <label for="date_input">Рік народження</label>
        <input type="number" min="1900" max="2025" id="date_input" formControlName="birthYear" required>
      </div>

      <div class="form-footer">
        <button type="submit" [disabled]="patientForm.invalid">Створити</button>
      </div>
    </form>
  </div>
</div>

